# Project Setup
- This project is managed with rye and pyproject.toml.
  - requirements.lock and requirements-dev.lock files should not be edited directly.
  - Edit pyproject.toml and run `rye sync`
- The project uses the following development tools: black, pautoflake, isort, mypy, flake8, pytest
  - You can run all these checks at once by running `rye run all`.
- Your environment is already configured with the necessary API keys.
- For debugging purposes, the library uses `logger = logging.getLogger(__name__)`.
- Set `logging.basicConfig(level=logging.DEBUG)` to see debug information.

# Important Rules
- If a diff application fails, re-read the file first and check it as it may have been updated.
- If type matching fails repeatedly, you can add #type: ignore and proceed.
- To run tests for specific files, use `rye run pytest [test files]`. Always run `rye run all` after successfully passing related tests.
- Use `gpt-4o-mini` or `claude-3-5-haiku-latest` for easy task or test. Use `gpt-4o` or `claude-3-5-sonnet-latest` for complex tasks.
