name: Doc

on:
  push:

jobs:
  doc:
    name: Build docs with Sphinx and force push to gh-pages branch
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.lock
      - name: Run apidoc
        run: |
          sphinx-apidoc --implicit-namespaces -F -o docs/sphinx src/prompttrail
      - name: Run sphinx-build
        run: |
          sphinx-build -b html docs/sphinx docs/
      - name: Force push to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          enable_jekyll: false
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'